{% set buttonClasses = 'inline-block py-2 px-4 border border-transparent rounded-md text-sm font-medium hover:bg-opacity-75' %}

<header class="bg-indigo-600">
  <nav class="container flex gap-4 flex-col items-center justify-between py-4 sm:flex-row">
    <a class="flex items-center text-indigo-100" href="/">
      <div class="w-6 h-auto">
        {% include '../svg/logo.svg' %}
      </div>
      <p class="text-white ml-2 font-bold text-lg">Fastify Starter</p>
    </a>
    <div class="flex items-center gap-4">
      {% if user %}
        <a class="{{ buttonClasses }} bg-indigo-500 text-white" href="/account">Account</a>
        <a class="{{ buttonClasses }} bg-white text-indigo-600" href="/api/logout">Logout</a>
      {% else %}
        <a class="{{ buttonClasses }} bg-indigo-500 text-white" href="/create">Create Account</a>
        <a class="{{ buttonClasses }} bg-white text-indigo-600" href="/login">Login</a>
      {% endif %}
    </div>
  </nav>
</header>
