<!DOCTYPE html>
<html class="{{ devMode ? 'debug-screens' }}" lang="en" >
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/_compiled/main.bundle.css">
  <script defer src="/_compiled/main.bundle.js"></script>
  <title>{{ title }}</title>
  {{ block('head') }}
</head>
<body hx-boost="true">
  {% include 'header.twig' %}
  {{ block('body') }}
</body>
</html>
