<div
  class="fixed w-56 top-8 right-8 rounded-lg border border-green-700 bg-green-100 px-6 py-5 text-base text-green-700"
  x-data="{ show: false }"
  x-show="show"
  x-transition.opacity.duration.500ms
  x-init="() => {
    setTimeout(() => { show = true }, 250);
    setTimeout(() => { show = false }, 3000);
  }"
>
  <p class="font-bold">
    {{ message }}
  </p>
</div>
