{% extends 'partials/layout.twig' %}
{% set title = 'Account' %}

{% block body %}
  <script>
    function update() {
      return {
        state: 'initial',
        email: '{{ email }}',
        password: null,
        async submit() {
          const { data } = await axios.patch('/api/user', { email: this.email })
          data.success ? this.state = 'success' : this.state = 'error'
          setTimeout(() => {
            this.state = 'initial'
          }, 2500)
        }
      }
    }
  </script>

  <section x-data="update()" class="container max-w-lg py-16">
    <h1 class="text-4xl font-black">
      {{ title }}
    </h1>
    <form class="mt-4 flex-wrap">
      <label class="block">
        Email:
        <input
          x-model="email"
          class="block rounded w-full"
          type="email"
        >
      </label>
      <button class="mt-8 bg-gray-900 text-white px-4 py-2 rounded" @click.prevent="submit">Submit</button>
    </form>
    <p class="text-blue-500 mt-4" x-show.transition="state == 'success'">
      Account details updated successfully!
    </p>
    <p class="text-red-500 mt-4" x-show.transition="state == 'error'">
      There was an issue updating account details!
    </p>
  </section>
{% endblock %}
