{% extends 'partials/layout.twig' %}
{% set title = 'Account' %}

{% block body %}
  <section class="container py-16">
    <h1 class="font-black text-6xl">
      {{ title }}
    </h1>
    <form
      hx-patch="/api/user"
      hx-target="#alert"
      hx-indicator="#account-loading"
      class="mt-4 flex-wrap"
    >
      <label class="block">
        Email:
        <input
          name="email"
          class="block rounded w-full"
          type="email"
          value="{{ user.email }}"
        >
      </label>
      <label class="block mt-4">
        Name:
        <input
          name="name"
          class="block rounded w-full"
          type="text"
          value="{{ user.name ?? '' }}"
        >
      </label>
      <div class="mt-8 flex items-center gap-4">
        <button
          class="bg-gray-900 text-white px-4 py-2 rounded"
          type="submit"
        >
          Submit
        </button>
        <svg id="account-loading" class="htmx-indicator animate-spin h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
          <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
          <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
        </svg>
      </div>
    </form>
  </section>
{% endblock %}
