{% extends 'partials/layout.twig' %}
{% set title = 'Account' %}

{% block body %}
  <script>
    function update() {
      return {
        state: 'initial',
        message: null,
        email: '{{ user.email }}',
        async submit() {
          const { email } = this
          const { data } = await axios.patch('/api/user', { email })
          if (data.success) {
            this.state = 'success'
            this.message = data.message
          } else {
            this.state = 'error'
            this.message = data.message ?? 'There was an issue updating your details, try again later.'
          }
          setTimeout(() => this.state = 'initial', 2500)
        }
      }
    }
  </script>

  <section x-data="update()" class="container max-w-lg py-16">
    <h1 class="text-4xl font-black">
      {{ title }}
    </h1>
    <form class="mt-4 flex-wrap">
      <label class="block">
        Email:
        <input
          x-model="email"
          class="block rounded w-full"
          type="email"
        >
      </label>
      <button
        class="mt-8 bg-gray-900 text-white px-4 py-2 rounded"
        @click.prevent="submit"
      >
        Submit
      </button>
    </form>
    <p
      class="text-blue-500 mt-4"
      x-text="message"
      x-show.transition="state == 'success'"
    ></p>
    <p
      class="text-red-500 mt-4"
      x-text="message"
      x-show.transition="state == 'error'"
    ></p>
  </section>
{% endblock %}
