{% extends 'partials/layout.twig' %}
{% set title = 'Create' %}

{% block body %}
  <script>
    function create() {
      return {
        state: 'initial',
        email: null,
        password: null,
        async submit() {
          const { data } = await axios.post('/api/user', {
            email: this.email,
            password: this.password,
          })
          return data.success
            ? window.location = '/login'
            : this.state = 'error'
        }
      }
    }
  </script>

  <section x-data="create()" class="container py-16">
    <h1 class="text-4xl font-black">
      {{ title }}
    </h1>
    <form class="mt-4 flex-wrap">
      <label class="block">
        Email:
        <input
          x-model="email"
          class="block rounded w-full"
          type="email"
        >
      </label>
      <label class="block mt-4">
        Password:
        <input
          @keydown.enter="submit"
          x-model="password"
          class="block rounded w-full"
          type="password"
        >
      </label>
      <button
        class="mt-8 bg-gray-900 text-white px-4 py-2 rounded"
        @click.prevent="submit"
      >
        Submit
      </button>
    </form>
  </section>
{% endblock %}
