@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  html, body {
    @apply w-full overflow-x-hidden antialiased text-gray-900 font-sans;
  }

  * {
    @apply relative;
  }

  [x-cloak] {
    @apply hidden;
  }
}
